<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Finetuner · Labeler</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/swiper@5.3.6/css/swiper.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap" rel="stylesheet">
    <link href="main.css" rel="stylesheet">
</head>

<body>
    <main id="app" v-cloak>
        <div class="alert alert-danger position-absolute top-0 start-50 translate-middle-x" role="alert"
            v-if="is_conn_broken">
            Can not connect to the server on {{host_address}} Please check your connection.
        </div>
        <sidebar :labeler-config="labeler_config" :view-template="view_template" :tags="tags" :is-busy="is_busy"
            :progress-stats="progress_stats" :positive-rate="positive_rate" :negative-rate="negative_rate"
            :advanced-config="advanced_config" :save-progress="saveProgress" :terminate-flow="terminateFlow"
                 :next-batch="next_batch"></sidebar>
        <div class="b-example-divider"></div>
        <div class="flex-grow-1 p-1 overflow-hidden">
            <div class="d-flex flex-column h-100">
                <div class="flex-grow-1">
                    <swiper ref="swiperComponent" :options="swiperOptions" @click-slide="onSwiperClickSlide"
                        @set-translate="onSetTranslate">
                        <swiper-slide v-if="labeler_config.style=='text'" v-for="(doc, doc_idx) in cur_batch"
                            :key="doc_idx">
                            <text-match-card :doc="doc" :doc-idx="doc_idx" :get-content="get_content"
                                :toggle-relevance="toggle_relevance" :invert-selection="select_all"
                                :submit-doc="submit_doc">
                            </text-match-card>
                        </swiper-slide>
                        <swiper-slide v-if="labeler_config.style=='image'" v-for="(doc, doc_idx) in cur_batch"
                            :key="doc_idx">
                            <image-match-card :doc="doc" :doc-idx="doc_idx" :get-content="get_content"
                                :toggle-relevance="toggle_relevance" :invert-selection="select_all"
                                :submit-doc="submit_doc">
                            </image-match-card>
                        </swiper-slide>
                        <swiper-slide v-if="labeler_config.style=='audio'" v-for="(doc, doc_idx) in cur_batch"
                            :key="doc_idx">
                            <audio-match-card :doc="doc" :doc-idx="doc_idx" :get-content="get_content"
                                :toggle-relevance="toggle_relevance" :invert-selection="select_all"
                                :submit-doc="submit_doc">
                            </audio-match-card>
                        </swiper-slide>
                        <swiper-slide v-if="labeler_config.style=='mesh'" v-for="(doc, doc_idx) in cur_batch"
                            :key="doc_idx">
                            <mesh-match-card :doc="doc" :doc-idx="doc_idx" :get-content="get_content"
                                :toggle-relevance="toggle_relevance" :invert-selection="select_all"
                                :submit-doc="submit_doc">
                            </mesh-match-card>
                        </swiper-slide>
                        <div class="swiper-pagination" slot="pagination"></div>
                        <div class="swiper-button-prev" slot="button-prev"></div>
                        <div class="swiper-button-next" slot="button-next"></div>
                    </swiper>
                </div>
            </div>
        </div>
    </main>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
        integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"
        async></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@5.3.6/js/swiper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-awesome-swiper"></script>
    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
    <script src="./js/components/sidebar.vue.js"></script>
    <script src="./js/components/image-match-card.vue.js"></script>
    <script src="./js/components/text-match-card.vue.js"></script>
    <script src="./js/components/audio-match-card.vue.js"></script>
    <script src="./js/components/mesh-match-card.vue.js"></script>
    <script src="./js/main.js"></script>
</body>

</html>