<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Finetuner · Labeler</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap" rel="stylesheet">
    <link href="main.css" rel="stylesheet">
</head>
<body>
<main id="app" v-cloak>
    <div class="alert alert-danger position-absolute top-0 start-50 translate-middle-x" role="alert"
         v-if="is_conn_broken">
        Can not connect to the server on {{host_address}} Please check your connection.
    </div>
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px; overflow: scroll">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap"></use>
            </svg>
            <span class="fs-4">Finetuner</span>
        </a>
        <hr>
        <section>
            <h4>View</h4>
            <div class="row my-1">
                <label class="col-sm-6 col-form-label">Content</label>
                <div class="col-sm-6">
                    <select class="form-select" v-model="labeler_config.content">
                        <option v-for="option in view_template.content" v-bind:value="option.value">
                            {{ option.text }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row my-1" v-if="labeler_config.content == 'tags'">
                <label class="col-sm-6 col-form-label">Tags Key</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" v-model.number="labeler_config.tags" required>
                </div>
            </div>
            <div class="row my-1">
                <label class="col-sm-6 col-form-label">Layout</label>
                <div class="col-sm-6">
                    <select class="form-select" v-model="labeler_config.style">
                        <option v-for="option in view_template.style" v-bind:value="option.value">
                            {{ option.text }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row my-1">
                <label class="col-sm-6 col-form-label">Examples/View</label>
                <div class="col-sm-6">
                    <input class="form-control" type="number" min="1" max="10"
                           v-model.number="labeler_config.example_per_view">
                </div>
            </div>
            <div class="row my-1">
                <label class="col-sm-6 col-form-label">TopK/Example</label>
                <div class="col-sm-6">
                    <input class="form-control" type="number" min="1" max="10"
                           v-model.number="labeler_config.topk_per_example">
                </div>
            </div>
        </section>
        <hr>
        <section>
            <h4>Progress
                <div class="spinner-border text-light spinner-border-sm align-middle" role="status" v-show="is_busy">
                <span class="visually-hidden">Loading...</span>
            </div>
            </h4>

            <div class="row my-1" v-for="option in progress_stats">
                <label class="col-sm-6 col-form-label">{{ option.text }}</label>
                <div class="col-sm-6 text-end">
                    {{ option.value }}
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" :style="{width: positive_rate+'%' }"></div>
                <div class="progress-bar bg-danger" role="progressbar" :style="{width: negative_rate+'%' }"></div>
            </div>
        </section>
        <hr>
        <section>
            <h4>Advanced</h4>
            <div class="row my-1" v-for="option in advanced_config">
                <label class="col-sm-6 col-form-label">{{ option.text }}</label>
                <div class="col-sm-6 text-end">
                    <input class="form-control" type="number"
                           v-model.number="option.value">
                </div>
            </div>
        </section>
        <hr>
        <footer>
            <a href="https://jina.ai" target="_blank">© 2020-2021 Jina AI</a>
            <a href="https://github.com/jina-ai/finetuner" target="_blank">(<strong>Finetuner</strong> v0.1)</a>
        </footer>
    </div>
    <div class="b-example-divider"></div>
    <div class="d-flex flex-grow-1 p-5" style="overflow: scroll">
        <div class="row row-cols-md-1 row-cols-lg-3 row-cols-xxl-5  g-4" style="width: 100%;">
            <div class="col my-2" v-if="labeler_config.style=='pair-image'">
                <div class="card">
                    <div class="card-header">
                        Pair · Are they relevant?
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">This is a wider card with supporting text below as a natural
                                lead-in to
                                additional content. This content is a little bit longer.
                            </li>
                            <li class="list-group-item">A second item</li>
                        </ul>
                    </div>
                    <div class="card-footer">

                        <button type="button" class="btn btn-success">Accept</button>
                        <button type="button" class="btn btn-danger">Reject</button>
                        <button type="button" class="btn btn-secondary">Ignore</button>
                    </div>
                </div>
            </div>
            <div class="col my-2" v-if="labeler_config.style=='pair-text'">
                <div class="card">
                    <div class="card-header">
                        Pair · Are they relevant?
                    </div>
                    <div class="card-body">
                        <div class="container">

                            <div class="row">
                                <div class="col">
                                    <img src="https://via.placeholder.com/150x600" class="img-thumbnail img-fluid"
                                         alt="...">
                                </div>
                                <div class="col">
                                    <img src="https://via.placeholder.com/600" class="img-thumbnail img-fluid"
                                         alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-success">Accept</button>
                        <button type="button" class="btn btn-danger">Reject</button>
                        <button type="button" class="btn btn-secondary">Ignore</button>
                    </div>
                </div>
            </div>
            <div class="col my-2" v-if="labeler_config.style=='list-text'">
                <div class="card">
                    <div class="card-header text-dark">
                        List · Label all relevant and irrelevant ones
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox">
                                This is a wider card with supporting text below as a natural
                                lead-in to
                                additional content. This content is a little bit longer.
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox">
                                A second item
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox">
                                A second item
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox">
                                A second item
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <div class="btn-toolbar justify-content-between">
                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off"
                                       checked>
                                <label class="btn btn-outline-success" for="btnradio1">Relevant</label>
                                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                                <label class="btn btn-outline-danger" for="btnradio2">Irrelevant</label>
                            </div>
                            <button type="button" class="btn btn-primary">Done</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" v-if="labeler_config.style=='list'" v-for="(doc, doc_idx) in cur_batch">
                <div class="card">
                    <div class="card-header text-dark">
                        List · Image
                    </div>
                    <div class="card-body">
                        <img v-bind:src="get_content(doc)" class="img-thumbnail img-fluid my-2" style="width: 100%">
                        <hr>
                        <div class="row row-cols-3">
                            <div class="col compact-img" v-for="match in doc.matches">
                                <img v-bind:src="get_content(match)" class="img-thumbnail img-fluid"
                                     v-bind:class="{ 'img-relevant': match.tags.finetuner_label }" style="width: 100%"
                                     v-on:click="toggle_relevance(match)">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="btn-toolbar justify-content-between g-2">
                            <button type="button" class="btn btn-outline-success" v-on:click="select_all(doc.matches)">
                                Invert
                            </button>
                            <button type="button" class="btn btn-outline-primary" v-on:click="submit_doc(doc_idx)">
                                Done
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
        integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"
        async></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="main.js"></script>
</body>

</html>