furo
gitpython==3.1.13
git+https://github.com/Holzhaus/sphinx-multiversion.git
jupytext==1.14.1
sphinx
myst-parser==0.15.1
nbsphinx==0.8.9
sphinx-argparse==0.3.1
sphinx-design
sphinx-inline-tabs
sphinx-autodoc-typehints==1.12.0
sphinxext-opengraph
sphinx-notfound-page==0.7.1
sphinx-sitemap==2.2.0
sphinx_copybutton==0.4.0
sphinx_markdown_tables==0.0.16
sphinxcontrib-apidoc==0.3.0
