.sidebar-logo {
    max-width: 50%;
}


table.docutils {
    border: thin;
}

table.docutils td, table.docutils th {
    padding: 1rem 1rem;
}

.highlight {
    background: #f5f5f5;
}

h1, h2, h3 {
    margin-top: 3rem;
}

.highlight-console .highlight {
    background: #00232b !important;
    color: whitesmoke;
}

.highlight-text .highlight {
    background: #00232b !important;
    color: whitesmoke;
}

.highlight-json .highlight {
    background: #00232b !important;
    color: whitesmoke;
}

.highlight-shell .highlight {
    background: #00232b !important;
    color: whitesmoke;
}

.highlight-bash .highlight {
    background: #00232b !important;
    color: whitesmoke;
}

.tab-set > input:checked + label {
    border-color: var(--tabs--label-text--active);
}

.tab-set > input:checked + label:hover {
    border-color: var(--tabs--label-text--active);
}


table code {
    background: var(--color-inline-code-background);
    border: 1px solid var(--color-background-border);
    border-radius: .2em;
    font-size: var(--font-size--small--2);
    padding: .1em .2em;
}

.related-information {
    justify-content: space-between;
}

.social-btn {
    margin: 0 .3em;
}

.social-btn:hover {
    opacity: .5;
}

.social-btns {
    display: inline-block;
}

.announcement {
    background-color: var(--color-brand-primary);
    color: var(--color-background-primary) !important;
}

.announcement a {
    color: inherit;
    text-decoration: none;
}

.announcement a:hover {
    color: inherit;
    text-decoration: underline;
}

.usage-card {
    display: none;
}

.sidebar-ecosys-logo {
    width: 1.2em;
    margin-right: .5em;
    vertical-align: middle
}


body[data-theme="dark"] .only-dark-line {
    display: inline-block !important;
}

body[data-theme="dark"] .only-light-line {
    display: none !important;
}

body[data-theme="light"] .only-light-line {
    display: inline-block !important;
}

body[data-theme="light"] .only-dark-line {
    display: none !important;
}

body[data-theme="auto"] .only-light-line {
    display: inline-block !important;
}

body[data-theme="auto"] .only-dark-line {
    display: none !important;
}

.version-select {
    font-size: .7em;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
    border-color: var(--color-background-border);
    height: 1.8em;
    line-height: 1.8em;
    outline: none;
    text-align: center;
    max-width: 7em;
    color: var(--color-foreground-muted);
}